a.plain {
    color: inherit;
    text-decoration: none;
}

article img {
    max-width: 300px;
    object-fit: cover;
    border-radius: 4px;
    margin-left: auto;
}

.muted {
    color: var(--pico-secondary);
    font-size: 0.85em;
}

@media (max-width: 768px) {
    article img {
        margin-left: 0;
        max-width: 100%;
    }

    header {
        flex-direction: column;
        align-items: flex-start !important;
    }

    header img {
        height: 40px;
    }

    nav {
        flex-direction: column;
    }
}