<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <link rel="icon" type="image/svg+xml" href="/static/logo.svg">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.jade.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.colors.min.css">
    <link rel="stylesheet" href="/static/style.css" />
    <script src="/static/header.js"></script>
    <title>{{.Strings.Title}}</title>
</head>
<body>
<main class="container">
    <header style="display: flex; align-items: stretch; gap: 1rem;">
        <img src="/static/logo.svg" alt="Logo" style="height: 100%; width: auto;">
        <div style="flex: 1;">
            <h1 class="pico-color-jade-550" style="margin: 0;">{{ .Strings.Title }}</h1>
            <nav>
                <ul>
                    <li>{{ .Strings.Subtitle }}</li>
                </ul>
                <ul>
                    <li>
                        <select aria-label="language" id="language-switcher">
                            <option value="fr" {{if eq .Lang "fr"}}selected{{end}}>{{ $.Strings.LanguageFrench }}</option>
                            <option value="en" {{if eq .Lang "en"}}selected{{end}}>{{ $.Strings.LanguageEnglish }}</option>
                            <option value="bi" {{if eq .Lang "bi"}}selected{{end}}>{{ $.Strings.LanguageBilingual }}</option>
                        </select>
                    </li>
                    <li>
                        <select aria-label="Theme" id="theme-switcher">
                            <option value="light" selected>{{ $.Strings.ThemeLight }}</option>
                            <option value="dark">{{ $.Strings.ThemeDark }}</option>
                            <option value="auto">{{ $.Strings.ThemeAuto }}</option>
                        </select>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    {{ range .Source.Articles }}
    <article>
        <div class="grid">
            <div>
                <hgroup>
                    <h6><a href="{{ .Link }}">{{ .Title | safe }}</a></h6>
                    <p><a href="{{ $.Source.URL }}" class="plain">{{ $.Source.Name }}</a></p>
                </hgroup>
                <p>{{ .Description | safe }}</p>
            </div>
            {{ if .Image }}
            <img src="{{ .Image.URL }}" alt="{{ .Image.Title }}" />
            {{ end }}
        </div>
        {{ if .Published }}
        <footer>
            <small>{{ .Published }}</small>
        </footer>
        {{ end }}
    </article>
    {{ end }}
</main>
<script src="/static/body.js"></script>
</body>
</html>