<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <link rel="icon" type="image/svg+xml" href="/static/logo.svg">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.jade.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.colors.min.css">
    <link rel="stylesheet" href="/static/style.css" />
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"></script>
    <script src="/static/header.js"></script>
    <title>{{.Strings.Title}}</title>
</head>
<body>
<main class="container">
    <header style="display: flex; align-items: stretch; gap: 1rem;">
        <img src="/static/logo.svg" alt="Logo" style="height: 100%; width: auto;">
        <div style="flex: 1;">
            <h1 class="pico-color-jade-550" style="margin: 0;">{{ .Strings.Title }}</h1>
            <nav>
                <ul>
                    <li>{{ .Strings.Subtitle }}</li>
                </ul>
                <ul>
                    <li>
                        <select aria-label="language" id="language-switcher">
                            <option value="fr" {{if eq .Lang "fr"}}selected{{end}}>{{ $.Strings.LanguageFrench }}</option>
                            <option value="en" {{if eq .Lang "en"}}selected{{end}}>{{ $.Strings.LanguageEnglish }}</option>
                            <option value="bi" {{if eq .Lang "bi"}}selected{{end}}>{{ $.Strings.LanguageBilingual }}</option>
                        </select>
                    </li>
                    <li>
                        <select aria-label="Theme" id="theme-switcher">
                            <option value="light" selected>{{ $.Strings.ThemeLight }}</option>
                            <option value="dark">{{ $.Strings.ThemeDark }}</option>
                            <option value="auto">{{ $.Strings.ThemeAuto }}</option>
                        </select>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <details name="sources">
        <summary role="button" class="outline">{{ .Strings.ChooseSources }}</summary>
        <p class="muted">{{ .Strings.ChoicesSaved }}</p>
        <div class="grid">
            <div>
                <h6>{{ .Strings.LanguageFrench }}</h6>
                {{ range .Sources }}
                    {{if .Language | isFrench}}
                    <label>
                        <input type="checkbox" name="source" value="{{.ID}}:fr" {{ if isSelected (printf "%s:fr" .ID) $.Selected }}checked{{ end }}>
                        {{ .Name }}
                        {{ if isBilingual .Language }} <span class="muted">({{ $.Strings.LanguageFrench }})</span>{{ end }}
                    </label>
                    {{end}}
                {{ end }}
            </div>
            <div>
                <h6>{{ .Strings.LanguageEnglish }}</h6>
                {{ range .Sources }}
                    {{if .Language | isEnglish}}
                    <label>
                        <input type="checkbox" name="source" value="{{.ID}}:en" {{ if isSelected (printf "%s:en" .ID) $.Selected }}checked{{ end }}>
                        {{ .Name }}
                        {{ if isBilingual .Language }} <span class="muted">({{ $.Strings.LanguageEnglish }})</span>{{ end }}
                    </label>
                    {{end}}
                {{ end }}
            </div>
        </div>
    </details>
    <div id="articles" hx-trigger="load, refreshArticles" hx-get="/articles" hx-swap="innerHTML"></div>
</main>
<script src="/static/body.js"></script>
</body>
</html>